<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SessionStateConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AspState;User ID=projects;Password=A5webserver" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings></appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="IisTraceListener" type="System.Web.IisTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sharedListeners>
    <trace autoflush="true" />
    <sources>
      <source name="IISTrace" switchName="IISTraceDetail">
        <listeners>
          <add name="IisTraceListener" type="System.Web.IisTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Set the "value" attribute to Off, Error, Warning, Info, Verbose, All. These values are listed in increase 
           detail order and includes the previous level e.g. Info includes Warning and Error.
           Or you can use numerical value(s) from TraceEventType. These values must be or'ed/added together
           to get everything up to a level. For instance use 799 to log Critical, Error, Warning, 
           Information, Verbose, Start and Stop trace events.
              Critical = 1,
              Error = 2,
              Warning = 4,
              Information = 8,
              Verbose = 16,
              Start = 256,
              Stop = 512,
              Suspend = 1024,
              Resume = 2048,
              Transfer = 4096,-->
      <add name="IISTraceDetail" value="All" />
    </switches>
  </system.diagnostics>
  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\,?" />
    <authentication mode="None"></authentication>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <authorization>
      <allow users="*" />
    </authorization>
    <sessionState mode="SQLServer" cookieName="XBasic_SessionId" timeout="900" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AspState;User ID=projects;Password=A5webserver"></sessionState>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <location path="A5ApplicationDataFile/public">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="A5ApplicationDataFile/private">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="A5ApplicationDataFile/loggedOn">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <AlphaFive.ApplicationServer>
      <logging path="C:\ProgramData\Alpha Software\Alpha Anywhere Application Server for IIS Version 12.0\Default Web Site\Projects_mobile" xbasicErrorLoggingEnabled="true" useCommonLogging="false" commonLogFormat="Content" commonLogTypesEnabled="None" commonLogDiscreteFiles="true" cloudDeploymentID="" cloudServerGroupID="">
        <miniDump cleanupEnabled="true" maxFiles="5" maxStorageGB="10" maxAgeHours="24" />
      </logging>
      <xbasicScripting debuggingEnabled="false" />
      <gridCache enabled="true" memorySizeInMB="55" diskPath="C:\ProgramData\Alpha Software\Alpha Anywhere Application Server for IIS Version 12.0\Grid Cache" />
      <sessionStorage enabled="false" connectionString="" passphrase="" maxFileAgeMinutes="-1" />
      <applicationDataStorage enabled="false" connectionString="" passphrase="" />
      <buildLocation type="Default" />
    </AlphaFive.ApplicationServer>
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" />
        </add>
      </traceFailedRequests>
    </tracing>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="A5HandlerFactory_A5W" />
      <remove name="A5HandlerFactory_A5WNS" />
      <remove name="A5HandlerFactory_A5WCMP" />
      <remove name="A5HandlerFactory_A5RPT" />
      <remove name="A5HandlerFactory_A5LTR" />
      <remove name="A5HandlerFactory_A5LAB" />
      <remove name="A5HandlerFactory_A5WKRPT" />
      <remove name="A5HandlerFactory_A5WKLTR" />
      <remove name="A5HandlerFactory_A5WKLAB" />
      <remove name="A5HandlerFactory_A5Image" />
      <remove name="A5HandlerFactory_JavaScript" />
      <remove name="A5HandlerFactory_SessionFile" />
      <remove name="A5HandlerFactory_ApplicationDataFile" />
      <remove name="A5HandlerFactory_A5_ajax" />
      <remove name="A5HandlerFactory_favIcon" />
      <remove name="A5HandlerFactory_builtin_alpha_logo" />
      <remove name="A5HandlerFactory_SamplePages" />
      <remove name="A5WebSocketHandler" />
      <remove name="A5DebuggerHeartbeat" />
      <remove name="A5SystemFiles" />
      <remove name="A5HandlerFactory_A5SVC" />
      <remove name="A5HandlerFactory_SvcDiscovery" />
      <add name="A5HandlerFactory_A5W" path="*.a5w" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5WNS" path="*.a5wns" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5WCMP" path="*.a5wcmp" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5RPT" path="*.a5rpt" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5LTR" path="*.a5ltr" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5LAB" path="*.a5lab" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5WKRPT" path="*.a5wkrpt" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5WKLTR" path="*.a5wkltr" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5WKLAB" path="*.a5wklab" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5Image" path="*.a5image" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_JavaScript" path="JavaScript/*" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_SessionFile" path="A5SessionFile/*" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_ApplicationDataFile" path="A5ApplicationDataFile/*" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5_ajax" path="*._a5_ajax" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_favIcon" path="favicon.ico" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_builtin_alpha_logo" path="_builtin_alpha_logo.gif" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_SamplePages" path="/AlphaSamplePages/*" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
      <add name="A5HandlerFactory_A5SVC" path="*.a5svc" verb="*" type="A5IISBootstrap.HandlerFactory, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" resourceType="Unspecified" requireAccess="Execute" preCondition="" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".a5w" />
          <remove fileExtension=".a5image" />
          <remove fileExtension=".a5wcmp" />
          <remove fileExtension=".a5rpt" />
          <remove fileExtension=".a5lab" />
          <remove fileExtension=".a5ltr" />
          <remove fileExtension=".a5wkrpt" />
          <remove fileExtension=".a5wklab" />
          <remove fileExtension=".a5wkltr" />
          <remove fileExtension=".a5i" />
          <remove fileExtension=".adb" />
          <remove fileExtension=".aex" />
          <remove fileExtension=".alb" />
          <remove fileExtension=".alm" />
          <remove fileExtension=".alx" />
          <remove fileExtension=".cdx" />
          <remove fileExtension=".dbf" />
          <remove fileExtension=".dbp" />
          <remove fileExtension=".ddd" />
          <remove fileExtension=".ddm" />
          <remove fileExtension=".ddx" />
          <remove fileExtension=".fpt" />
          <remove fileExtension=".xbf" />
          <remove fileExtension=".SecuritySettings" />
          <remove fileExtension=".set" />
          <remove fileExtension=".origConfig" />
          <remove fileExtension=".a5svc" />
          <add fileExtension=".a5w" allowed="true" />
          <add fileExtension=".a5image" allowed="true" />
          <add fileExtension=".a5wcmp" allowed="true" />
          <add fileExtension=".a5rpt" allowed="true" />
          <add fileExtension=".a5lab" allowed="true" />
          <add fileExtension=".a5ltr" allowed="true" />
          <add fileExtension=".a5wkrpt" allowed="true" />
          <add fileExtension=".a5wklab" allowed="true" />
          <add fileExtension=".a5wkltr" allowed="true" />
          <add fileExtension=".a5i" allowed="false" />
          <add fileExtension=".adb" allowed="false" />
          <add fileExtension=".aex" allowed="false" />
          <add fileExtension=".alb" allowed="false" />
          <add fileExtension=".alm" allowed="false" />
          <add fileExtension=".alx" allowed="false" />
          <add fileExtension=".cdx" allowed="false" />
          <add fileExtension=".dbf" allowed="false" />
          <add fileExtension=".dbp" allowed="false" />
          <add fileExtension=".ddd" allowed="false" />
          <add fileExtension=".ddm" allowed="false" />
          <add fileExtension=".ddx" allowed="false" />
          <add fileExtension=".fpt" allowed="false" />
          <add fileExtension=".xbf" allowed="false" />
          <add fileExtension=".SecuritySettings" allowed="false" />
          <add fileExtension=".set" allowed="false" />
          <add fileExtension=".origConfig" allowed="false" />
          <add fileExtension=".a5svc" allowed="true" />
        </fileExtensions>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Remove OutputCache to let me set the cache-control headers myself. -->
      <remove name="OutputCache" />
      <remove name="UrlAuthorization" />
      <remove name="DefaultAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="RoleManager" />
      <remove name="A5IISBootstrap" />
      <remove name="A5IISManagedPlugin" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule, system.web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=x86" preCondition="" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule, system.web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=x86" preCondition="" />
      <add name="A5IISBootstrap" type="A5IISBootstrap.Module, A5IISBootstrap, Version=12.0.0.0, Culture=neutral, PublicKeyToken=2371eb3b5de9d6a4, processorArchitecture=MSIL" preCondition="" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule, system.web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=x86" preCondition="" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Powered-By" value="Alpha Anywhere Application Server" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="TabbedUI_Projects.a5w" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".appmanifest" />
      <remove fileExtension=".json" />
      <remove fileExtension=".b" />
      <remove fileExtension=".sass" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".appmanifest" mimeType="text/plain" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".b" mimeType="application/x-alpha-blob" />
      <mimeMap fileExtension=".sass" mimeType="text/css" />
      <mimeMap fileExtension=".dat" mimeType="application/x-alpha-xbasic-object" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".otf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
    </staticContent>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>